environment:
  VisualStudioVersion: 12.0
  
version: 1.0.1-CI{build}
shallow_clone: true
clone_depth: 1
build:
  project: RedGate.AppHost.sln
  verbosity: normal
test: off
# Unable to build a release package as snk required for package signing is not part of the project
# configuration: Release
configuration: Debug
platform: Any CPU

before_build:
  - nuget restore

after_build:
  - cmd: nuget pack NuSpec\RedGate.AppHost.nuspec -NoPackageAnalysis -Version %APPVEYOR_BUILD_VERSION% -BasePath Build\Debug

artifacts:
  - path: .\*.nupkg
    name: nupkgfiles

# Publish to myget.org feed
deploy:
  provider: NuGet
  server: https://www.myget.org/F/redgate-apphost-amaitland/
  api_key:
    secure: kF/TA2hKCTTm+SinltSn5qm1q81e7wjRlk1DNgDuxBrn8IidcbFf2dy0Wo1jiyxP
  skip_symbols: true
  artifact: nupkgfiles